[submodule "gsl"]
	path = gsl
	url = https://github.com/microsoft/GSL
[submodule "cppconlib"]
	path = cppconlib
	url = https://github.com/mariusbancila/cppconlib
[submodule "MinGL"]
	path = MinGL
	url = https://github.com/amengol/MinGL
